<div id="students" class="layout-main" ng-controller="Students.MainController" ng-init="initialize()">
    <widget-tabs>        
        <widget-pane data-title="Main">
            <div class="tube width-100-percent no-margin-bottom">
                <div class="tube width-40-percent">
                    <widget-box class="no-margin-bottom">                    
                        <ul class="widget-breadcrumb">
                            <li>Students</li>
                            <li class="seperator">&gt;</li>
                            <li>Main</li>
                        </ul>
                    </widget-box>
                </div>
                <div class="tube width-60-percent">
                    <div class="tube width-30-percent">
                        <widget-select 
                            data-items="filter.dropdownList"                        
                            data-selected-item-id="filter.dropdownSelectedId"
                            data-show-max-items="5"
                            data-placeholder="Please select..."
                            data-theme="'theme-student'"></widget-select>
                    </div>
                    <div class="tube width-40-percent">
                        <widget-search-box data-is-filter-box="true" data-text="filter.text" data-placeholder="ค้นหา..."></widget-search-box>
                    </div>
                    <div class="tube width-30-percent">
                        <widget-button data-text="Add"></widget-button>
                    </div>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div class="tube width-100-percent no-margin-bottom">
                <widget-box class="header no-padding-right no-padding-left">
                    <div class="rows">
                        <div class="row">
                            <div class="col col-id align-center">รหัสนักเรียน</div>
                            <div class="col col-name">ชื่อ - นามสกุล</div>
                            <div class="col col-nickname align-center">ชื่อเล่น</div>
                            <div class="col col-phone">เบอร์โทรศัพท์</div>
                            <div class="col col-status">&nbsp;</div>
                            <div class="col col-view">&nbsp;</div>
                            <div class="col col-view-calendar">&nbsp;</div>
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                </widget-box>
            </div> 
            <div class="tube width-100-percent no-margin-bottom fix-height">
                <widget-box class="content no-margin-bottom no-padding-top no-padding-bottom no-padding-right no-padding-left">
                    <div class="rows">
                        <div class="row" ng-repeat="student in filter.result | orderBy:'id' | startFrom:(currentPage-1)*showPerPage | limitTo:showPerPage">
                            <div class="col col-id align-center">{{student.id}}</div>
                            <div class="col col-name">{{student.name}}</div>
                            <div class="col col-nickname align-center">{{student.nickname}}</div>
                            <div class="col col-phone">{{student.phoneNumber}}</div>
                            <div class="col col-status align-center status-{{student.status}}" title="{{EnumConverter.Status.toString(student.status)}}"><i class="fa fa-circle"></i></div>
                            <div class="col col-view align-center" title="View"><a href="#/students/{{student.id}}"><i class="fa fa-th-list"></i></a></div>
                            <div class="col col-view-calendar align-center" title="Calendar"><i class="fa fa-calendar"></i></div>
                            <div class="clear-fix"></div>
                        </div>
                    </div> 
                    <div class="pagination">
                        <ul>
                            <li ng-show="pageNumbers.length > 1">
                                <span class="btn-prev" ng-click="goToPrevPage(pageNumber)" title="ก่อนหน้า">&#9664;</span>
                            </li>
                            <li ng-repeat="pageNumber in pageNumbers" ng-switch on="!$last">
                                <span class="{{pageNumber.className}}" ng-click="goToPage(pageNumber.index)">{{pageNumber.index}}</span>
                                <span class="seperator" ng-switch-when="true">.</span>
                            </li>
                            <li ng-show="pageNumbers.length > 1">
                                <span class="btn-next" ng-click="goToNextPage(pageNumber)" title="ถัดไป">&#9654;</span>
                            </li>
                        </ul>
                    </div>                      
                </widget-box>
            </div>            
        </widget-pane>
    </widget-tabs>
</div>