#header {	
	width: calc(~'100%' - 30px);
	height: @headerHeight - 30px;
	padding: 15px;
	margin: 0;	
	
	.logo {
		background-image: url('../images/logo/logo.png');
		background-repeat: no-repeat;
		height: 57px;
		width: 179px;

	}	
}