.widget-button {
	border: 0;
	border-bottom: 2px solid transparent;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	padding: 10px 0 8px 0;
	text-align: center;
	width: calc(~'100% - 18px');
}

#book,
#books {
	.widget-button {
		background-color: @bookThemeColor;
		border-bottom-color: @bookThemeColor;
		color: #FEFEFE;
		opacity: 1.0;

		&:hover { 
			background-color: @bookThemeColor2; 
			cursor: pointer;
			opacity: 1.0;
		}

		&:disabled {
			background-color: @bookThemeColor; 
			cursor: default;
			opacity: 0.5;
		}
	}
}

#cd,
#cds {
	.widget-button {
		background-color: @cdThemeColor;
		border-bottom-color: @cdThemeColor;
		color: #FEFEFE;
		opacity: 1.0;

		&:hover { 
			background-color: @cdThemeColor2; 
			cursor: pointer;
			opacity: 1.0;
		}

		&:disabled {
			background-color: @cdThemeColor; 
			cursor: default;
			opacity: 0.5;
		}
	}
}

#course,
#courses {
	.widget-button {
		background-color: @courseThemeColor;
		border-bottom-color: @courseThemeColor;
		color: #FEFEFE;
		opacity: 1.0;

		&:hover { 
			background-color: @courseThemeColor2; 
			cursor: pointer;
			opacity: 1.0;
		}

		&:disabled {
			background-color: @courseThemeColor; 
			cursor: default;
			opacity: 0.5;
		}
	}
}

#student,
#students {
	.widget-button {
		background-color: @studentThemeColor;
		border-bottom-color: @studentThemeColor;
		color: #FEFEFE;
		opacity: 1.0;

		&:hover { 
			background-color: @studentThemeColor2; 
			cursor: pointer;
			opacity: 1.0;
		}

		&:disabled {
			background-color: @studentThemeColor; 
			cursor: default;
			opacity: 0.5;
		}
	}
}

#teacher,
#teachers {
	.widget-button {
		background-color: @teacherThemeColor;
		border-bottom-color: @teacherThemeColor;
		color: #FEFEFE;
		opacity: 1.0;

		&:hover { 
			background-color: @teacherThemeColor2; 
			cursor: pointer;
			opacity: 1.0;
		}

		&:disabled {
			background-color: @teacherThemeColor; 
			cursor: default;
			opacity: 0.5;
		}
	}
}