.widget-checkbox {
	font-family: inherit;

	.checkbox {
		background-color: transparent;
		border: 0;
		color: inherit;
		display: inline-block;
		font-family: inherit;
		font-size: inherit;
		margin: 0;
		padding: 2px;

		.icon-checked {
			display: inline-block;
			background-color: #F8F7F4;
			background-image: url('../images/icons/checkbox_checked.png');
			background-position: center center;
			background-repeat: no-repeat;
			height: 13px;
			vertical-align: middle;
			width: 14px;
		}

		.icon-unchecked {
			display: inline-block;
			background-color: #F8F7F4;
			background-image: none;
			height: 13px;
			vertical-align: middle;
			width: 14px;
		}

		.text {		
			color: inherit;
			display: inline-block;
			font-size: inherit;
			vertical-align: middle;			
		}

		&:hover {
			cursor: pointer;
		}
	}
}