#teacher {
	height: inherit;

	my-tabs {
		height: inherit;		
	}

	.tube {
		float: left;
		width: calc(~'50% - 6px');

		&:first-child {
			margin-right: 12px;
		}
	}

	my-box {
		.widget-box {
			background-color: #53AC9C;
			margin-bottom: 12px;

			.box-header {
				color: #636363;

				button {
					background-color: #53AC9C;
				}
			}

			.box-content {
				.rows {
					.row {
						margin-bottom: 3px;

						&:last-child {
							margin-bottom: 0;	
						}

						input[type="text"] {
							background-color: #FFF;
							border: 0;
							color: #636363;
							font-family: @baseFontFamily;
							font-size: 14px;
							margin: 0;
							padding: 0;
							width: 100%;

							&.no-data {
								font-style: italic;
								text-align: center;
							}

							&:disabled {
								background-color: #FFF;
							}
						}

						.col {
							float: left;							

							&.col-label {
								width: 100px;

								input[type="text"] {									
									text-align: right;
								}
							}

							&.col-colon {
								width: 10px;

								input[type="text"] {									
									text-align: center;
								}
							}

							&.col-value {
								width: calc(~'100% - 110px');

								input[type="text"] {									
									text-align: left;

									&.status-1 {
										color: #0F0;
									}

									&.status-2 {
										color: 0FF;
									}

									&.status-4 {
										color: #F00;
									}
								}
							}
						}
					}
				}
			}
		}			
	}

	my-dialog-box {
		.widget-dialog-box {
			.dialog-box-header { 
				background-color: #53AC9C; 
			}

			.dialog-box-content {
				
			}

			.dialog-box-footer {
				.btn {
					&.btn-submit {
						background-color: #53AC9C;
						color: #EDECEA;
					}
				}
			}
		}
	}
}