#teachers {
	font-size: @fontSizeM;
	height: inherit;

	my-tabs {
		height: inherit;
		
		my-pane {
			font-family: inherit;	
			height: inherit;

			.tab-pane { height: 100%; }
		}		
	}

	.tube {
		&.width-50-percent {
			float: left;
			width: calc(~'50% - 6px');		

			.widget-button {
				font-family: @baseFontFamily;
				font-size: inherit;
			}

			.widget-select {
				color: #636363;
				font-size: inherit;
			}

			.widget-search-box {
				color: #636363;
				font-size: inherit;
			}

			&:first-child { margin-right: 12px; }
		}

		&.width-100-percent { width: 100%; }	

		&.fix-height { height: calc(~'100% - 120px'); }	
	}		

	.pagination {
		padding: 4px 0 10px 0;
		.user-select(none);

		ul {
			text-align: right;
			

			li {
				color: #CCCBC9;
				display: inline-block;
				font-size: @fontSizeS;
				margin-right: 5px;

				span {
					display: inline-block;
					padding: 0 2px;

					&.active { color: #989898; }

					&:hover {
						color: #989898;
						cursor: pointer;
					}

					&.btn-prev, &.btn-next {
						color: @teacherThemeColor;
						padding: 0;

						&:hover { color: @teacherThemeColor; }
					}

					&.seperator {
						color: @teacherThemeColor;
						font-size: 22px;

						&:hover {
							color: @teacherThemeColor;
							cursor: default;
						}
					}
				}											
			}

			&:hover { cursor: default; }
		}
	}

	my-box {
		height: inherit;
				
		.widget-box {
			height: 100%;
			margin-bottom: 12px;

			.box-content {
				color: #636363;
				height: calc(~'100% - 20px');				

				> div {
					height: 100%;
				}

				.rows {
					height: 100%;
					overflow-y: auto;
					/*
					&.scrollbar-y {
						::-webkit-scrollbar { width: 10px; height: 0px; margin-right: -10px; }
						::-webkit-scrollbar-button {  background-color: #666 !important; }
						::-webkit-scrollbar-track {  background-color: #999 !important;}
						::-webkit-scrollbar-track-piece { background-color: #ffffff !important;}
						::-webkit-scrollbar-thumb { height: 50px !important; background-color: #666 !important; border-radius: 3px !important;}
						::-webkit-scrollbar-corner { background-color: #999 !important;}
						::-webkit-resizer { background-color: #666 !important;}
					}

					&.scrollable {
						overflow-y: auto;

						&::-webkit-scrollbar {
							display: block;
    						width: 8px;
    						height: 16px;
    						float: right; 
    						margin-right: 10px;
						}

						&::-webkit-scrollbar-thumb {
    						background-color: rgba(0, 0, 0, 0.2);
    						-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07); 
						}

						&::-webkit-scrollbar-button {
    						width: 0;
    						height: 0;
    						display: none; 
						}

						&::-webkit-scrollbar-corner {
    						background-color: transparent; 
						}
					}						
					*/
					.row {	
						padding: 10px;
																	
						.col {
							float: left;
							margin-right: 5px;							

							&.col-name { width: calc(~'100% - 300px'); }

							&.col-nickname { width: 125px; }

							&.col-phone { width: 125px; }

							&.col-view-icon { width: 30px; }

							&:nth-child(4) { margin-right: 0px; }

							&:hover { cursor: default; }
						}
		
					}						
				}				
			}
		}		

		&.header {
			.box-content {
				padding-top: 0px;
				padding-bottom: 0px;
			}	
		}

		&.no-margin-bottom {
			.widget-box {
				margin-bottom: 0px;
			}
		}
	}
}