#teacher {
	height: inherit;

	my-tabs {
		height: inherit;		
	}

	.tube {
		float: left;
		width: calc(~'50% - 6px');

		&:first-child {
			margin-right: 12px;
		}
	}

	my-box {
		.widget-box {
			background-color: @teachersThemeColor;
			margin-bottom: 12px;

			.box-header {
				color: #636363;

				button {
					background-color: @teachersThemeColor;
				}
			}

			.box-content {
				.rows {
					color: #636363;
					font-family: inherit;
					font-size: 14px;

					.row {
						color: inherit;
						font-family: inherit;
						font-size: inherit;
						margin-bottom: 3px;

						input[type="text"] {	
							background-color: #FFF;	
							border: 0;
							color: inherit;
							font-family: inherit;
							font-size: inherit;
							margin: 0;
							padding: 0 5px; 							
							text-align: left;
							width: calc(~'100% - 10px');
										
							&:disabled { 
								background-color: #FFF; 
							}

							&.no-data { 
								text-align: center; 
							}
						}						

						.col {							
							float: left;						
							width: inherit;

							&.col-label {									
								margin-right: 5px;
								padding: 6px 0;
								text-align: right;
								width: 100px;

								label {										
									.required {
										color: @teachersThemeColor;
									}
								}
							}

							&.col-value {
								width: calc(~'100% - 105px');

								input[type="text"] {	
									&.status-1 { color: #0F0; }
									&.status-2 { color: #0FF; }
									&.status-4 { color: #F00; }									
								}
							}
						}

						&:last-child {
							margin-bottom: 0;	
						}
					}
				}
			}
		}			
	}

	my-dialog-box {
		.widget-dialog-box {
			.dialog-box-header { 
				background-color: @teachersThemeColor; 
			}

			.dialog-box-content {				
				> .wrapper {
					margin: 0 auto;
					width: 380px;

					.rows {
						color: #636363;
						font-family: inherit;
						font-size: 14px;
						width: inherit;
																	
						.row {
							color: inherit;
							font-family: inherit;
							font-size: inherit;
							margin-bottom: 3px;
							width: inherit;							

							input[type="text"] {	
								background-color: #FFF;	
								border: 0;
								border-bottom: 1px solid @teachersThemeColor;
								color: inherit;
								font-family: inherit;
								font-size: inherit;
								margin: 0;
								padding: 0 5px; 							
								text-align: left;
								width: calc(~'100% - 10px');
										
								&:disabled {
									background-color: #EBEAE8;
									border-bottom: #EBEAE8;
								}
							}

							.col {
								color: inherit;
								float: left;
								font-family: inherit;
								font-size: inherit;
								width: inherit;

								&.col-label {									
									margin-right: 20px;
									padding: 6px 0;
									text-align: right;
									width: 100px;

									label {
										.required {
											color: @teachersThemeColor;
										}
									}
								}

								&.col-value {
									width: calc(~'100% - 146px');

									input[type="text"] {	
										&.status-1 { color: #0F0; }
										&.status-2 { color: #0FF; }
										&.status-4 { color: #F00; }
									}

									label {
										display: block;
										color: @teachersThemeColor;
										font-size: 12px;
										font-style: italic;
										margin: 7px 0;
										padding: 0;
									}
								}

								&.col-delete-button {
									width: 26px;
								}
							}

							&:last-child {
								margin-bottom: 0;	
							}
						}
					}
				}
			}

			.dialog-box-footer {
				.btn {
					&.btn-submit {
						background-color: @teachersThemeColor;
						color: #EDECEA;
					}
				}
			}
		}
	}
}