<div id="student" class="layout-about" ng-controller="Students.AboutController" ng-init="initialize()">
    <widget-tabs ng-show="!isReady">
        <widget-pane data-title="Loading">
            Now Loading...
        </widget-pane>
    </widget-tabs>
    <widget-tabs ng-show="isReady">
        <widget-pane data-title="about">
            <div class="tube width-100-percent no-margin-bottom">
                <div class="tube width-85-percent">
                    <widget-box class="no-margin-bottom">                    
                        <ul class="widget-breadcrumb">
                            <li><a href="#/teachers">Students</a></li>
                            <li class="seperator">&gt;</li>
                            <li>{{student.firstname}} {{student.lastname}} ({{student.nickname}})</li>
                        </ul>
                    </widget-box>
                </div>
                <div class="tube width-15-percent">
                    <widget-button data-text="Back" data-on-click="returnToMain()"></widget-button>
                </div>
            </div>
            <div class="tube width-100-percent no-margin-bottom">
                <div class="tube width-50-percent">
                    <widget-box data-title="ข้อมูลทั่วไป" data-editable="true" data-edit="onEditGeneralInfo()">
                        <div class="rows">
                            <div class="row">
                                <div class="col col-label">รหัสประจำตัว :</div>
                                <div class="col col-value">{{student.id}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">ชื่อ :</div>
                                <div class="col col-value">{{student.firstname}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">นามสกุล :</div>
                                <div class="col col-value">{{student.lastname}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">ชื่อเล่น :</div>
                                <div class="col col-value">{{student.nickname}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">วันเกิด :</div>
                                <div class="col col-value">{{FormatManager.toLongDateString(student.birthDate)}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">วันที่สมัคร :</div>
                                <div class="col col-value">{{FormatManager.toLongDateString(student.registeredDate)}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">วันสิ้นสุดหลักสูตร :</div>
                                <div class="col col-value">{{FormatManager.toLongDateString(student.lastDateOfClass)}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">สถานะ :</div>
                                <div class="col col-value">{{EnumConverter.Status.toString(student.status)}}</div>
                                <div class="clear-fix"></div>
                            </div>
                        </div>
                    </widget-box>
                    <widget-box data-title="ข้อมูลการติดต่อ" data-editable="true" data-edit="onEditContactInfo()">
                        <div class="rows">
                            <div class="row" ng-repeat="contact in student.contacts.phones">
                                <input type="hidden" ng-model="contact.id" />
                                <input type="hidden" ng-model="contact.type" />
                                <div class="col col-label">{{contact.label}} :</div>
                                <div class="col col-value">{{FormatManager.formatPhoneNumber(contact.value)}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row" ng-repeat="contact in student.contacts.emails">
                                <input type="hidden" ng-model="contact.id" />
                                <input type="hidden" ng-model="contact.type" />
                                <div class="col col-label">{{contact.label}} :</div>
                                <div class="col col-value">{{contact.value}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row no-data" ng-show="student.contacts.phones.length == 0 && student.contacts.emails.length == 0">*** ไม่มีข้อมูล ***</div>
                        </div>
                    </widget-box>
                    <widget-box data-title="ข้อมูลที่อยู่" data-editable="true" data-edit="onEditAddressInfo()">
                        <div class="rows">
                            <div class="row" ng-hide="student.address == undefined">
                                <div class="col col-label">ชื่ออาคาร :</div>
                                <div class="col col-value"></div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row" ng-hide="student.address == undefined">
                                <div class="col col-label">ที่อยู่ :</div>
                                <div class="col col-value"></div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row" ng-hide="student.address == undefined">
                                <div class="col col-label">ตำบล/แขวง :</div>
                                <div class="col col-value"></div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row" ng-hide="student.address == undefined">
                                <div class="col col-label">อำเภอ/เขต :</div>
                                <div class="col col-value"></div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row" ng-hide="student.address == undefined">
                                <div class="col col-label">จังหวัด :</div>
                                <div class="col col-value"></div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row" ng-hide="student.address == undefined">
                                <div class="col col-label">รหัสไปรษณีย์ :</div>
                                <div class="col col-value"></div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row no-data" ng-show="student.address == undefined">*** ไม่มีข้อมูล ***</div>
                        </div>
                    </widget-box>
                </div>
                <div class="tube width-50-percent"></div>
            </div>                
        </widget-pane>
        <widget-pane data-title="calendar"></widget-pane>
    </widget-tabs>

    <student-general-info-editor></student-general-info-editor>
    <student-contact-info-editor></student-contact-info-editor>
</div>