<div class="general-info-editor theme-student">	
	<widget-dialog-box data-title="Edit > General Info" data-submit="submit()" data-disabled="isOnUpdateEdittedData" data-close="cancel()" data-visible="visible">
		<div class="wrapper">
			<div class="rows">
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.id.isRequired" class="required">*&nbsp;</span>รหัสประจำตัว :</div>
					<div class="col col-value">     
						<widget-text-box data-text="edittedData.id.value" data-disabled="true"></widget-text-box>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.firstname.isRequired" class="required">*&nbsp;</span>ชื่อ :</div>
					<div class="col col-value">
						<widget-text-box data-text="edittedData.firstname.value" data-disabled="isOnUpdateEdittedData"></widget-text-box>
						<label ng-hide="edittedData.firstname.isValid">* กรุณากรอกชื่อจริง</label>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.lastname.isRequired" class="required">*&nbsp;</span>นามสกุล :</div>
					<div class="col col-value">
						<widget-text-box data-text="edittedData.lastname.value" data-disabled="isOnUpdateEdittedData"></widget-text-box>
						<label ng-hide="edittedData.lastname.isValid">* กรุณากรอกนามสกุล</label>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.nickname.isRequired" class="required">*&nbsp;</span>ชื่อเล่น :</div>
					<div class="col col-value">
						<widget-text-box data-text="edittedData.nickname.value" data-disabled="isOnUpdateEdittedData"></widget-text-box>
						<label ng-hide="edittedData.nickname.isValid">* กรุณากรอกชื่อเล่น</label>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.nickname.isRequired" class="required">*&nbsp;</span>วันเกิด :</div>
					<div class="col col-value">
						<widget-text-box data-text="FormatManager.toLongDateString(edittedData.birthDate.value)" data-disabled="true"></widget-text-box>
						<!-- <widget-select 
                            data-disabled="isOnUpdateEdittedData"
                            data-items="dayList" 
                            data-selected-item-id="edittedData.birthDate.day.value"
                            data-placeholder="วัน"
                            data-theme="theme-student"
                            data-width="50"></widget-select>
                        <widget-select 
                            data-disabled="isOnUpdateEdittedData"
                            data-items="monthList" 
                            data-selected-item-id="edittedData.birthDate.month.value"
                            data-placeholder="เดือน"
                            data-theme="theme-student"
                            data-width="125"></widget-select>
                        <widget-select 
                            data-disabled="isOnUpdateEdittedData"
                            data-items="yearList" 
                            data-selected-item-id="edittedData.birthDate.year.value"
                            data-placeholder="ปี"
                            data-theme="theme-student"
                            data-width="75"></widget-select> -->
						<label ng-hide="edittedData.nickname.isValid">* กรุณากรอกชื่อเล่น</label>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.nickname.isRequired" class="required">*&nbsp;</span>วันที่สมัคร :</div>
					<div class="col col-value">
						<widget-text-box data-text="FormatManager.toLongDateString(edittedData.registeredDate.value)" data-disabled="true"></widget-text-box>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.nickname.isRequired" class="required">*&nbsp;</span>วันสิ้นสุดหลักสูตร :</div>
					<div class="col col-value">
						<widget-text-box data-text="FormatManager.toLongDateString(edittedData.lastDateOfClass.value)" data-disabled="true"></widget-text-box>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.status.isRequired" class="required">*&nbsp;</span>สถานะ :</div>
					<div class="col col-value">
						<widget-select 
                            data-disabled="isOnUpdateEdittedData"
                            data-items="statusList" 
                            data-selected-item-id="edittedData.status.value"
                            data-placeholder="Please select..."
                            data-theme="theme-student"
                            data-width="125"></widget-select>
					</div>
					<div class="clear-fix"></div>
				</div>
			</div>
		</div>
	</widget-dialog-box>
</div>