<div id="cd" class="individual-info" ng-controller="CdController" ng-init="initialize()">
    <my-tabs ng-show="!isReady">
        <my-pane data-title="Loading">
            Now Loading...
        </my-pane>
    </my-tabs>
    <my-tabs ng-show="isReady">
        <my-pane data-title="about">
            <div class="tube width-100-percent no-margin-bottom">
                <div class="tube width-85-percent">
                    <my-box class="no-margin-bottom">                    
                        <ul class="widget-breadcrumb">
                            <li>Cds</li>
                            <li class="seperator">&gt;</li>
                            <li>dashboard</li>
                        </ul>
                    </my-box>
                </div>
                <div class="tube width-15-percent">
                    <my-button data-text="'ย้อนกลับ'"></my-button>
                </div>
            </div>
            <div class="tube width-100-percent no-margin-bottom">
                <div class="tube width-85-percent no-margin-left">
                    <my-box data-title="'ข้อมูลหนังสือ'" data-editable="true" data-edit="onEditCdInfo()">
                        <div class="rows">
                            <div class="row">
                                <div class="col col-label">รหัสหนังสือ :</div>
                                <div class="col col-value">{{cd.id}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">บาร์โค้ด :</div>
                                <div class="col col-value">{{cd.barcode}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">ชื่อหนังสือ :</div>
                                <div class="col col-value">{{cd.name}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">ราคา (บาท) :</div>
                                <div class="col col-value">{{cd.unitPrice}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">คงเหลือ (เล่ม) :</div>
                                <div class="col col-value">{{cd.quantity}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">สถานะ :</div>
                                <div class="col col-value">{{cd.status.text}}</div>
                                <div class="clear-fix"></div>
                            </div>
                        </div>
                    </my-box>
                </div>
            </div>                
        </my-pane>
    </my-tabs>

    <my-dialog-box data-title="'ข้อมูลหนังสือ'" data-submit="onSubmitEditCdInfo()" data-disabled="isOnUpdateEdittedCdInfo" data-close="onCancelEditCdInfo()" data-visible="isOnEditCdInfo">
        <div class="wrapper">
            <div class="rows">
                <div class="row">
                    <div class="col col-label"><span ng-show="edittedCdInfo.id.isRequired" class="required">*</span>รหัสหนังสือ :</div>
                    <div class="col col-value">     
                        <my-text-box data-text="edittedCdInfo.id.value" data-disabled="true"></my-text-box>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label"><span ng-show="edittedCdInfo.barcode.isRequired" class="required">*</span>บาร์โค้ด :</div>
                    <div class="col col-value">
                        <my-text-box data-text="edittedCdInfo.barcode.value" data-disabled="isOnUpdateEdittedCdInfo"></my-text-box>
                        <label ng-hide="edittedCdInfo.barcode.isValid">*กรุณากรอกหมายเลขบาร์โค้ด</label>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label"><span ng-show="edittedCdInfo.name.isRequired" class="required">*</span>ชื่อหนังสือ :</div>
                    <div class="col col-value">
                        <my-text-box data-text="edittedCdInfo.name.value" data-disabled="isOnUpdateEdittedCdInfo"></my-text-box>
                        <label ng-hide="edittedCdInfo.name.isValid">*กรุณากรอกชื่อหนังสือ</label>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label"><span ng-show="edittedCdInfo.unitPrice.isRequired" class="required">*</span>ราคา (บาท) :</div>
                    <div class="col col-value">
                        <my-numeric-box data-disabled="isOnUpdateEdittedCdInfo" data-text="edittedCdInfo.unitPrice.value" data-width="100"></my-numeric-box>
                        <label ng-hide="edittedCdInfo.unitPrice.isValid">*กรุณากรอกราคาหนังสือ</label>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label"><span ng-show="edittedCdInfo.quantity.isRequired" class="required">*</span>คงเหลือ (เล่ม) :</div>
                    <div class="col col-value">
                        <my-numeric-box data-disabled="isOnUpdateEdittedCdInfo" data-text="edittedCdInfo.quantity.value" data-width="100"></my-numeric-box>
                        <label ng-hide="edittedCdInfo.quantity.isValid">*กรุณากรอกราคาหนังสือ</label>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label"><span ng-show="edittedCdInfo.status.isRequired" class="required">*</span>สถานะ :</div>
                    <div class="col col-value">
                        <my-select 
                            data-disabled="isOnUpdateEdittedCdInfo"
                            data-items="statusList" 
                            data-selected-item-id="edittedCdInfo.status.value"
                            data-placeholder="'Please select...'"
                            data-theme="'theme-cd'"
                            data-width="100"></my-select>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>
        </div>
    </my-dialog-box>
</div>