<div class="general-info-editor theme-cd">	
	<widget-dialog-box data-title="Edit > General Info" data-submit="submit()" data-disabled="isOnUpdateEdittedData" data-close="cancel()" data-visible="visible">
		<div class="wrapper">
			<div class="rows">
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.id.isRequired" class="required">*&nbsp;</span>รหัสซีดี :</div>
					<div class="col col-value">     
						<widget-text-box data-text="edittedData.id.value" data-disabled="true"></widget-text-box>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.barcode.isRequired" class="required">*&nbsp;</span>บาร์โค้ด :</div>
					<div class="col col-value">
						<widget-text-box data-text="edittedData.barcode.value" data-disabled="isOnUpdateEdittedData"></widget-text-box>
						<label ng-hide="edittedData.barcode.isValid">*กรุณากรอกบาร์โค้ด</label>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.name.isRequired" class="required">*&nbsp;</span>ชื่อซีดี :</div>
					<div class="col col-value">
						<widget-text-box data-text="edittedData.name.value" data-disabled="isOnUpdateEdittedData"></widget-text-box>
						<label ng-hide="edittedData.name.isValid">*กรุณากรอกชื่อซีดี</label>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.unitPrice.isRequired" class="required">*&nbsp;</span>ราคา (บาท) :</div>
					<div class="col col-value">
						<widget-numeric-box data-disabled="isOnUpdateEdittedData" data-text="edittedData.unitPrice.value" data-width="125"></widget-numeric-box>
						<label ng-hide="edittedData.unitPrice.isValid">*กรุณากรอกราคาซีดี</label>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.quantity.isRequired" class="required">*&nbsp;</span>คงเหลือ (เล่ม) :</div>
					<div class="col col-value">
						<widget-numeric-box data-disabled="isOnUpdateEdittedData" data-text="edittedData.quantity.value" data-width="125"></widget-numeric-box>
						<label ng-hide="edittedData.quantity.isValid">*กรุณากรอกราคาซีดี</label>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.status.isRequired" class="required">*&nbsp;</span>สถานะ :</div>
					<div class="col col-value">
						<widget-select 
							data-disabled="isOnUpdateEdittedData"
							data-items="statusList" 
							data-selected-item-id="edittedData.status.value"
							data-placeholder="Please select..."
							data-theme="theme-cd"
							data-width="125"></widget-select>
					</div>
					<div class="clear-fix"></div>
				</div>
			</div>
		</div>
	</widget-dialog-box>
</div>