<div class="widget-dialog-box">
    <div class="wrapper">
        <div class="dialog-box-header">
            <span>{{title}}</span>
            <div class="dialog-close" ng-click="onCancel()" title="ปิด"></div>
        </div>
        <div class="dialog-box-content" ng-transclude></div>
        <div class="dialog-box-footer">
            <my-button data-text="'Save'" data-width="'80px'" data-on-click="onSubmit()"></my-button>
            <my-button data-text="'Cancel'" data-width="'80px'" data-on-click="onCancel()"></my-button>
        </div>
    </div>
</div>