<div class="widget-left-menu">
    <ul class="nav">
        <li ng-repeat="item in menuItems" class="menu-item {{item.className}}">
            <a href="{{item.link}}" ng-click="select(item.name)">
                <div>
                    <div class="icon"></div>
                    <div class="text">{{item.text}}</div>                                    
                    <div class="clear-fix"></div>
                </div>
            </a>                                    
        </li>
    </ul>
</div>