<header ng-controller="HeaderCtrl">
    <div class="container">
        <div class="row">
            <div class="col logo-container">
                <a href="/" id="logo" title="Pianoforte The School of Music">
                    <span>Pianoforte The School of Music</span>
                    <!-- <img src="images/logo.gif" alt="Piano Forte" title="Pianoforte The School of Music"> -->
                </a>
            </div>
            <div class="col main-menu-container">
                <div class="sub-nav">
                    <a class="sub-nav-fb" href="https://www.facebook.com/Pianoforteclub" target="_blank" title="Piano Forte Facebook Fanpage"></a>
                    <a class="sub-nav-email" href="mailto:pianofortethai@gmail.com" target="_blank" title="contact us"></a>
                </div>
                <div class="main-nav">
                    <ul>
                        <li ng-class="{ active: isActive('/') || isActive('/home') }"><a href="/home">Home</a></li>
                        <li ng-class="{ active: isActive('/our-school') }"><a href="/our-school">Our School</a></li>
                        <li ng-class="{ active: isActive('/our-course') }"><a href="/our-course">Our Course</a></li>
                        <li ng-class="{ active: isActive('/contact-us') }"><a href="/contact-us">Contact Us</a></li>
                        <li ng-class="{ active: isActive('/english-page') }"><a href="/english-page">English Page</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>