<header>
    <div class="container">
        <div class="row">
            <div class="col logo-container">
                <a href="/" id="logo" title="Pianoforte The School of Music">
                    <span>Pianoforte The School of Music</span>
                    <!-- <img src="images/logo.gif" alt="Piano Forte" title="Pianoforte The School of Music"> -->
                </a>
            </div>
            <div class="col main-menu-container">
                <div class="sub-nav">
                    <a class="sub-nav-fb" href="https://www.facebook.com/Pianoforteclub" target="_blank" title="Piano Forte Facebook Fanpage"></a>
                    <a class="sub-nav-email" href="mailto:pianofortethai@gmail.com" target="_blank" title="contact us"></a>
                </div>
                <div class="main-nav">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Our School</a></li>
                        <li><a href="">Our Course</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">English Page</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>