<div id="book" class="individual-info" ng-controller="BookController" ng-init="initialize()">
    <my-tabs ng-show="!isReady">
        <my-pane data-title="Loading">
            Now Loading...
        </my-pane>
    </my-tabs>
    <my-tabs ng-show="isReady">
        <my-pane data-title="about">
            <div class="tube width-100-percent no-margin-bottom">
                <div class="tube width-85-percent">
                    <my-box class="no-margin-bottom">                    
                        <ul class="widget-breadcrumb">
                            <li><a href="#/books">Books</a></li>
                            <li class="seperator">&gt;</li>
                            <li>{{book.name}}</li>
                        </ul>
                    </my-box>
                </div>
                <div class="tube width-15-percent">
                    <my-button data-text="'ย้อนกลับ'"></my-button>
                </div>
            </div>
            <div class="tube width-100-percent no-margin-bottom">
                <div class="tube width-85-percent no-margin-left">
                    <my-box data-title="'ข้อมูลหนังสือ'" data-editable="true" data-edit="onEditBookInfo()">
                        <div class="rows">
                            <div class="row">
                                <div class="col col-label">รหัสหนังสือ :</div>
                                <div class="col col-value">{{book.id}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">บาร์โค้ด :</div>
                                <div class="col col-value">{{book.barcode}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">ชื่อหนังสือ :</div>
                                <div class="col col-value">{{book.name}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">ราคา (บาท) :</div>
                                <div class="col col-value">{{FormatManager.formatNumber(book.unitPrice)}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">คงเหลือ (เล่ม) :</div>
                                <div class="col col-value">{{FormatManager.formatNumber(book.quantity)}}</div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="row">
                                <div class="col col-label">สถานะ :</div>
                                <div class="col col-value">{{EnumConverter.Status.toString(book.status)}}</div>
                                <div class="clear-fix"></div>
                            </div>
                        </div>
                    </my-box>
                </div>
            </div>                
        </my-pane>
    </my-tabs>

    <book-general-info-editor data-title="Edit > General Info"></book-general-info-editor>
</div>