<div id="teacher" ng-controller="TeacherController" ng-init="init()">
    <my-tabs ng-show="!isReady">
        <my-pane data-title="Loading">
            Now Loading...
        </my-pane>
    </my-tabs>
    <my-tabs ng-show="isReady">        
        <my-pane data-title="about">
            <div class="tube">
                <my-box data-title="ข้อมูลทั่วไป" data-editable="true" data-edit="onStartEditGeneralInfo()">                    
                    <div class="rows">
                        <div class="row">
                            <div class="col col-label">
                                <input type="text" value="{{teacher.id.label}}" ng-disabled="true" />
                            </div>
                            <div class="col col-colon">
                                <input type="text" value=":" ng-disabled="true" />
                            </div>
                            <div class="col col-value">
                                <input type="text" value="{{teacher.id.value}}" ng-disabled="true" />
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="row">
                            <div class="col col-label">
                                <input type="text" value="{{teacher.firstname.label}}" ng-disabled="true" />
                            </div>
                            <div class="col col-colon">
                                <input type="text" value=":" ng-disabled="true" />
                            </div>
                            <div class="col col-value">
                                <input type="text" value="{{teacher.firstname.value}}" ng-disabled="true" />
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="row">
                            <div class="col col-label">
                                <input type="text" value="{{teacher.lastname.label}}" ng-disabled="true" />
                            </div>
                            <div class="col col-colon">
                                <input type="text" value=":" ng-disabled="true" />
                            </div>
                            <div class="col col-value">
                                <input type="text" value="{{teacher.lastname.value}}" ng-disabled="true" />
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="row">
                            <div class="col col-label">
                                <input type="text" value="{{teacher.nickname.label}}" ng-disabled="true" />
                            </div>
                            <div class="col col-colon">
                                <input type="text" value=":" ng-disabled="true" />
                            </div>
                            <div class="col col-value">
                                <input type="text" value="{{teacher.nickname.value}}" ng-disabled="true" />
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="row">
                            <div class="col col-label">
                                <input type="text" value="{{teacher.status.label}}" ng-disabled="true" />
                            </div>
                            <div class="col col-colon">
                                <input type="text" value=":" ng-disabled="true" />
                            </div>
                            <div class="col col-value">
                                <input type="hidden" />
                                <input type="text" value="{{teacher.status.value.displayString}}" class="status-{{teacher.status.value.key}}" ng-disabled="true" />
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                    </div>            
                </my-box>
                <my-box data-title="ข้อมูลการติดต่อ" data-editable="true" data-edit="onEditContactInfo()">
                    <div class="rows">
                        <div class="row" ng-repeat="contact in teacher.contacts.phones" ng-hide="teacher.contacts.phones.length == 0">
                            <input type="hidden" value="{{contact.id}}" />
                            <input type="hidden" value="{{contact.type}}" />
                            <div class="col col-label">
                                <input type="text" value="{{contact.label}}" ng-disabled="true" />                                
                            </div>
                            <div class="col col-colon">
                                <input type="text" value=":" ng-disabled="true" />
                            </div>
                            <div class="col col-value">
                                <input type="text" value="{{contact.value}}" ng-disabled="true" />                                
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="row" ng-repeat="contact in teacher.contacts.emails" ng-hide="teacher.contacts.emails.length == 0">
                            <input type="hidden" value="{{contact.id}}" />
                            <input type="hidden" value="{{contact.type}}" />
                            <div class="col col-label">
                                <input type="text" value="{{contact.label}}" ng-disabled="true" />                                
                            </div>
                            <div class="col col-colon">
                                <input type="text" value=":" ng-disabled="true" />
                            </div>
                            <div class="col col-value">
                                <input type="text" value="{{contact.value}}" ng-disabled="true" />                                
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="row" ng-show="teacher.contacts.phones.length == 0 && teacher.contacts.emails.length == 0">
                            <input type="text" value="*** ไม่มีข้อมูล ***" class="no-data" ng-disabled="true" />                            
                        </div>
                    </div>
                </my-box>
            </div>
            <div class="tube">
                <my-box data-title="วิชาที่สอน" data-editable="false">
                    <div class="rows">
                        <div class="row" ng-repeat="teachCourse in teacher.teachedCourses" ng-hide="teacher.teachedCourses.length == 0">
                            <input type="text" value="{{teachCourse}}" ng-disabled="true" />
                        </div>
                        <div class="row" ng-show="teacher.teachedCourses.length == 0">
                            <input type="text" value="*** ไม่มีข้อมูล ***" class="no-data" ng-disabled="true" />                            
                        </div>
                    </div>    
                </my-box>
            </div>
            <div class="clear-fix"></div>
        </my-pane>
        <my-pane data-title="calendar"></my-pane>
    </my-tabs>
    <my-dialog-box data-title="teacher > edit > ข้อมูลทั่วไป" data-close="onFinishEditGeneralInfo()" ng-show="isOnEditGeneralInfo">
        <div class="wrapper">
            <div class="rows">
                <div class="row">
                    <div class="col col-label">
                        <input type="text" value="{{tempTeacher.id.label}}" ng-disabled="true" />
                    </div>
                    <div class="col col-value">
                        <input type="text" value="{{tempTeacher.id.value}}" ng-disabled="true" />
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label">
                        <input type="text" value="{{tempTeacher.firstname.label}}" ng-disabled="true" />
                    </div>
                    <div class="col col-value">
                        <input type="text" value="{{tempTeacher.firstname.value}}" />
                        <label>*กรุณากรอกชื่อจริง</label>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label">
                        <input type="text" value="{{tempTeacher.lastname.label}}" ng-disabled="true" />
                    </div>
                    <div class="col col-value">
                        <input type="text" value="{{tempTeacher.lastname.value}}" />
                        <label>*กรุณากรอกนามสกุล</label>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label">
                        <input type="text" value="{{tempTeacher.nickname.label}}" ng-disabled="true" />
                    </div>
                    <div class="col col-value">
                        <input type="text" value="{{tempTeacher.nickname.value}}" />
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label">
                        <input type="text" value="{{tempTeacher.status.label}}" ng-disabled="true" />
                    </div>
                    <div class="col col-value">
                        <input type="hidden" />
                        <input type="text" value="{{tempTeacher.status.value.displayString}}" class="status-{{tempTeacher.status.value.key}}" ng-disabled="true" />
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>        
        </div>        
    </my-dialog-box>
</div>