<div id="teachers" ng-controller="TeacherMainController" ng-init="init()">
    <my-tabs>
        <my-pane data-title="dashboard">
            <div class="tube width-50-percent">
                <my-box>                    
                    <ul class="widget-breadcrumb">
                        <li>teachers</li>
                        <li class="seperator">&gt;</li>
                        <li>dashboard</li>
                    </ul>
                </my-box>
            </div>
            <div class="tube width-50-percent">
                <div class="tube width-50-percent">
                    <!-- <select class="widget-dropdown" ng-model="currrentFilter" ng-options="tf.text for tf in teacherFilterList"></select> -->
                    <my-select data-items="teacherFilterList" selectedItemIndex="1"></my-select>                    
                </div>
                <div class="tube width-50-percent">
                    <my-search-box data-text="filterText" data-placeholder="'ค้นหาครู...'"></my-search-box>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div class="tube width-100-percent">
                <my-box class="header">
                    <div class="rows">
                        <div class="row">
                            <div class="col col-name">ชื่อ - นามสกุล</div>
                            <div class="col col-nickname">ชื่อเล่น</div>
                            <div class="col col-phone">เบอร์โทรศัพท์</div>
                            <div class="col col-view-icon">&nbsp;</div>
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                </my-box>
            </div> 
            <div class="tube width-100-percent fix-height">
                <my-box class="content">
                    <div class="rows">
                        <div ng-repeat="teacher in teacherList | orderBy:'name' | filter:filterText" class="row">
                            <div class="col col-name">{{teacher.name}}</div>
                            <div class="col col-nickname">{{teacher.nickname}}</div>
                            <div class="col col-phone">{{teacher.phoneNumber}}</div>
                            <div class="col col-view-icon"><a href="#/teachers/{{teacher.id}}">view</a></div>
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                </my-box>
            </div>            
        </my-pane>
    </my-tabs>
</div>