<div id="teacher" ng-controller="TeacherController" ng-init="init()">
    <my-tabs ng-show="!isReady">
        <my-pane data-title="Loading">
            Now Loading...
        </my-pane>
    </my-tabs>
    <my-tabs ng-show="isReady">        
        <my-pane data-title="about">
            <div class="tube">
                <my-box data-title="ข้อมูลทั่วไป" data-editable="true" data-edit="onEditGeneralInfo()">                    
                    <div class="rows">
                        <div class="row">
                            <div class="col col-label">
                                <label>{{teacher.id.label}} :</label>
                            </div>
                            <div class="col col-value">
                                <input type="text" ng-model="teacher.id.value" ng-disabled="true" />
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="row">
                            <div class="col col-label">
                                <label>{{teacher.firstname.label}} :</label>
                            </div>
                            <div class="col col-value">
                                <input type="text" ng-model="teacher.firstname.value" ng-disabled="true" />
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="row">
                            <div class="col col-label">
                                <label>{{teacher.lastname.label}} :</label>
                            </div>
                            <div class="col col-value">
                                <input type="text" ng-model="teacher.lastname.value" ng-disabled="true" />
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="row">
                            <div class="col col-label">
                                <label>{{teacher.nickname.label}} :</label>
                            </div>
                            <div class="col col-value">
                                <input type="text" ng-model="teacher.nickname.value" ng-disabled="true" />
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="row">
                            <div class="col col-label">
                                <label>{{teacher.status.label}} :</label>
                            </div>
                            <div class="col col-value">
                                <input type="hidden" />
                                <input type="text" ng-model="teacher.status.value.displayString" class="status-{{teacher.status.value.key}}" ng-disabled="true" />
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                    </div>            
                </my-box>
                <my-box data-title="ข้อมูลการติดต่อ" data-editable="true" data-edit="onEditContactInfo()">
                    <div class="rows">
                        <div class="row" ng-repeat="contact in teacher.contacts.phones">
                            <input type="hidden" ng-model="contact.id" />
                            <input type="hidden" ng-model="contact.type" />
                            <div class="col col-label"> 
                                <label>{{contact.label}} :</label>
                            </div>
                            <div class="col col-value">
                                <input type="text" ng-model="contact.value" ng-disabled="true" />                                
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="row" ng-repeat="contact in teacher.contacts.emails">
                            <input type="hidden" ng-model="contact.id" />
                            <input type="hidden" ng-model="contact.type" />
                            <div class="col col-label">
                                <label>{{contact.label}} :</label>
                            </div>
                            <div class="col col-value">
                                <input type="text" ng-model="contact.value" ng-disabled="true" />                                
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="row" ng-show="teacher.contacts.phones.length == 0 && teacher.contacts.emails.length == 0">
                            <input type="text" value="*** ไม่มีข้อมูล ***" class="no-data" ng-disabled="true" />                            
                        </div>
                    </div>
                </my-box>
            </div>
            <div class="tube">
                <my-box data-title="วิชาที่สอน" data-editable="false">
                    <div class="rows">
                        <div class="row" ng-repeat="teachCourse in teacher.teachedCourses">
                            <input type="text" ng-model="teachCourse" ng-disabled="true" />
                        </div>
                        <div class="row" ng-show="teacher.teachedCourses.length == 0">
                            <input type="text" value="*** ไม่มีข้อมูล ***" class="no-data" ng-disabled="true" />                            
                        </div>
                    </div>    
                </my-box>
            </div>
            <div class="clear-fix"></div>
        </my-pane>
        <my-pane data-title="calendar"></my-pane>
    </my-tabs>
    <my-dialog-box data-title="teacher > edit > ข้อมูลทั่วไป" data-submit="onSubmitEditGeneralInfo()" data-close="onCancelEditGeneralInfo()" ng-show="isOnEditGeneralInfo">
        <div class="wrapper">
            <div class="rows">
                <div class="row">
                    <div class="col col-label">
                        <label><span ng-show="edittedGeneralInfo.id.isRequired" class="required">*</span>{{edittedGeneralInfo.id.label}}</label>
                    </div>
                    <div class="col col-value">
                        <input type="text" ng-model="edittedGeneralInfo.id.value" ng-disabled="true" />
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label">
                        <label><span ng-show="edittedGeneralInfo.firstname.isRequired" class="required">*</span>{{edittedGeneralInfo.firstname.label}}</label>
                    </div>
                    <div class="col col-value">
                        <input type="text" ng-model="edittedGeneralInfo.firstname.value" ng-disabled="isOnSaveEdittedGeneralInfo" />
                        <label ng-hide="edittedGeneralInfo.firstname.isValid">*กรุณากรอกชื่อจริง</label>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label">
                        <label><span ng-show="edittedGeneralInfo.lastname.isRequired" class="required">*</span>{{edittedGeneralInfo.lastname.label}}</label>
                    </div>
                    <div class="col col-value">
                        <input type="text" ng-model="edittedGeneralInfo.lastname.value" ng-disabled="isOnSaveEdittedGeneralInfo" />
                        <label ng-hide="edittedGeneralInfo.lastname.isValid">*กรุณากรอกนามสกุล</label>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label">
                        <label><span ng-show="edittedGeneralInfo.nickname.isRequired" class="required">*</span>{{edittedGeneralInfo.nickname.label}}</label>
                    </div>
                    <div class="col col-value">
                        <input type="text" ng-model="edittedGeneralInfo.nickname.value" ng-disabled="isOnSaveEdittedGeneralInfo" />
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label">
                        <label><span ng-show="edittedGeneralInfo.status.isRequired" class="required">*</span>{{edittedGeneralInfo.status.label}}</label>
                    </div>
                    <div class="col col-value">
                        <input type="hidden" />
                        <input type="text" ng-model="edittedGeneralInfo.status.value.displayString" class="status-{{edittedGeneralInfo.status.value.key}}" ng-disabled="true" />
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>        
        </div>        
    </my-dialog-box>
</div>