            <div id="header">
                <div class="logo"></div>
            </div>
            <div id="content">
                <div id="left-col">
                    <input type="text" id="txt-search-all" placeholder="search here..." />
                    <div class="left-menu">
                        <ul class="nav">
                            <li class="nav-item teacher active">
                                <a href="#/teachers">
                                    <div>
                                        <div class="icon"></div>
                                        <div class="text">teachers</div>                                    
                                        <div class="clear-fix"></div>
                                    </div>
                                </a>                                    
                            </li>
                            <li class="nav-item student">
                                <a>
                                    <div>
                                        <div class="icon"></div>
                                        <div class="text">students</div>                                    
                                        <div class="clear-fix"></div>
                                    </div>
                                </a>                                    
                            </li>
                            <li class="nav-item course">
                                <a>
                                    <div>
                                        <div class="icon"></div>
                                        <div class="text">courses</div>                                    
                                        <div class="clear-fix"></div>
                                    </div>
                                </a>                                    
                            </li>
                            <li class="nav-item book">
                                <a>
                                    <div>
                                        <div class="icon"></div>
                                        <div class="text">books</div>                                    
                                        <div class="clear-fix"></div>
                                    </div>
                                </a>                                    
                            </li>
                            <li class="nav-item cd">
                                <a>
                                    <div>
                                        <div class="icon"></div>
                                        <div class="text">cds</div>                                    
                                        <div class="clear-fix"></div>
                                    </div>
                                </a>                                    
                            </li>
                        </ul>
                    </div>  
                </div>
                <div id="content-col">
                    <div class="wrapper" ng-view></div>
                </div>
                <div class="clear-fix"></div>
            </div>