@import 'config';
@import 'font';
@import 'mixins';
@import 'reset';

@import 'fontawesome/font-awesome';

@import 'layouts/content-col';
@import 'layouts/content';
@import 'layouts/dashboard';
@import 'layouts/individual-info';
@import 'layouts/header';
@import 'layouts/left-col';

@import 'books/book';
@import 'books/book-main';

@import 'cds/cd';
@import 'cds/cd-main';

@import 'courses/course';
@import 'courses/course-main';

@import 'students/student';
@import 'students/student-main';

@import 'teachers/teacher';
@import 'teachers/teacher-main';

@import 'widgets/my-box';
@import 'widgets/my-button';
@import 'widgets/my-breadcrumb';
@import 'widgets/my-checkbox';
@import 'widgets/my-dialog-box';
@import 'widgets/my-dropdown-menu';
@import 'widgets/my-left-menu';
@import 'widgets/my-numeric-box';
@import 'widgets/my-overlay';
@import 'widgets/my-phone-box';
@import 'widgets/my-search-box';
@import 'widgets/my-select';
@import 'widgets/my-tabs';
@import 'widgets/my-text-box';

body, html {
	height: 100%;
	font-family: @baseFontFamily;
}

#container {
	width: @containerWidth;
	height: 100%;
	margin: 0 auto;	
	background-color: #4E4C48;	
	font-family: inherit;	
}

.test {
	font-family: arial;

	&:lang(en) {
		font-family: sans-serif;
	}
}