<div class="register theme-teacher">
	<widget-dialog-box data-title="Teacher > New" data-submit="submit()" data-disabled="isOnInsertData" data-close="cancel()" data-visible="visible">
        <div class="wrapper">
            <div class="rows">
                <div class="row">
                    <div class="col col-label"><span ng-show="data.firstname.isRequired" class="required">*&nbsp;</span>ชื่อ :</div>
                    <div class="col col-value">
                        <widget-text-box data-text="data.firstname.value" data-disabled="isOnInsertData"></widget-text-box>
                        <label ng-hide="data.firstname.isValid">*กรุณากรอกชื่อจริง</label>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label"><span ng-show="data.lastname.isRequired" class="required">*&nbsp;</span>นามสกุล :</div>
                    <div class="col col-value">
                        <widget-text-box data-text="data.lastname.value" data-disabled="isOnInsertData"></widget-text-box>
                        <label ng-hide="data.lastname.isValid">*กรุณากรอกนามสกุล</label>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="row">
                    <div class="col col-label"><span ng-show="data.nickname.isRequired" class="required">*&nbsp;</span>ชื่อเล่น :</div>
                    <div class="col col-value">
                        <widget-text-box data-text="data.nickname.value" data-disabled="isOnInsertData"></widget-text-box>
                        <label ng-hide="data.nickname.isValid">*กรุณากรอกชื่อเล่น</label>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>
        </div>
    </widget-dialog-box>
</div>