<div>	
	<my-dialog-box data-title="title" data-submit="submit()" data-disabled="isOnUpdateEdittedData" data-close="cancel()" data-visible="visible">
		<div class="wrapper">
			<div class="rows">
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.id.isRequired" class="required">*</span>รหัสประจำตัว :</div>
					<div class="col col-value">     
						<my-text-box data-text="edittedData.id.value" data-disabled="true"></my-text-box>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.firstname.isRequired" class="required">*</span>ชื่อ :</div>
					<div class="col col-value">
						<my-text-box data-text="edittedData.firstname.value" data-disabled="isOnUpdateEdittedData"></my-text-box>
						<label ng-hide="edittedData.firstname.isValid">*กรุณากรอกชื่อจริง</label>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.lastname.isRequired" class="required">*</span>นามสกุล :</div>
					<div class="col col-value">
						<my-text-box data-text="edittedData.lastname.value" data-disabled="isOnUpdateEdittedData"></my-text-box>
						<label ng-hide="edittedData.lastname.isValid">*กรุณากรอกนามสกุล</label>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.nickname.isRequired" class="required">*</span>ชื่อเล่น :</div>
					<div class="col col-value">
						<my-text-box data-text="edittedData.nickname.value" data-disabled="isOnUpdateEdittedData"></my-text-box>
						<label ng-hide="edittedData.nickname.isValid">*กรุณากรอกชื่อเล่น</label>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="row">
					<div class="col col-label"><span ng-show="edittedData.status.isRequired" class="required">*</span>สถานะ :</div>
					<div class="col col-value">
						<my-text-box data-text="edittedData.status.value" data-disabled="true"></my-text-box>
					</div>
					<div class="clear-fix"></div>
				</div>
			</div>
		</div>
	</my-dialog-box>
</div>