<div class="widget-select">
    <button class="btn-toggle" ng-click="toggleDropdownMenu()">
    	<div class="text" ng-show="selectedItem != null">{{selectedItem.text}}</div>
        <div class="text placeholder" ng-show="selectedItem == null">
            <span ng-show="placeholder != undefined">{{placeholder}}</span>
            <span ng-show="placeholder == undefined">Please select...</span>
        </div>
    	<div class="caret" ng-hide="disabled">&#9660;</div>
    	<div class="clear-fix"></div>
    </button>    
    <div class="dropdown-menu" ng-show="isMenuVisible">
		<div class="items">
			<div class="item" ng-repeat="item in items" ng-click="select(item)" ng-switch on="item.excluded">
                <span ng-switch-when="false">{{item.text}}</span>
            </div>
		</div>            
    </div>
</div>